# dependencies
node_modules

# Next.js
.next
out

# production
dist

# logs
logs
*.log
.next-dev.out.log
.next-dev.err.log
.next-start.out.log
.next-start.err.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# local tooling downloaded for validation
.tools
